includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Parameter \$\w+ of method .+BillingRepository::(priceId|productId)\(\) has invalid type .+Consumer\\(ProductKey|PriceKey)#'
